.eb-stars {
    display: flex;
    justify-content: center;
}
.eb-stars .eb-star {
    height: 24px;
    width: 24px;
}
.eb-stars .eb-star .outline {
    fill: #FF9800;
}


.eb-stars .eb-star .full,
.eb-stars .eb-star .left-half {
    fill: transparent;
}

.eb-stars.rounding-up[data-eb-rating^="0.0"] .eb-star--1 .left-half,
.eb-stars.rounding-up[data-eb-rating^="0.1"] .eb-star--1 .left-half,
.eb-stars.rounding-up[data-eb-rating^="0.2"] .eb-star--1 .left-half,
.eb-stars.rounding-up[data-eb-rating^="0.3"] .eb-star--1 .left-half,
.eb-stars.rounding-up[data-eb-rating^="0.4"] .eb-star--1 .left-half,
.eb-stars.rounding-up[data-eb-rating^="0.5"] .eb-star--1 .left-half,
.eb-stars.rounding-up[data-eb-rating^="0.6"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="0.7"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="0.8"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="0.9"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="1"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="1.0"] .eb-star--2 .left-half,
.eb-stars.rounding-up[data-eb-rating^="1.1"] .eb-star--2 .left-half,
.eb-stars.rounding-up[data-eb-rating^="1.2"] .eb-star--2 .left-half,
.eb-stars.rounding-up[data-eb-rating^="1.3"] .eb-star--2 .left-half,
.eb-stars.rounding-up[data-eb-rating^="1.4"] .eb-star--2 .left-half,
.eb-stars.rounding-up[data-eb-rating^="1.5"] .eb-star--2 .left-half,
.eb-stars.rounding-up[data-eb-rating^="1.6"] .eb-star--2 .full,
.eb-stars.rounding-up[data-eb-rating^="1.7"] .eb-star--2 .full,
.eb-stars.rounding-up[data-eb-rating^="1.8"] .eb-star--2 .full,
.eb-stars.rounding-up[data-eb-rating^="1.9"] .eb-star--2 .full,
.eb-stars.rounding-up[data-eb-rating^="2"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="2"] .eb-star--2 .full,
.eb-stars.rounding-up[data-eb-rating^="2.0"] .eb-star--3 .left-half,
.eb-stars.rounding-up[data-eb-rating^="2.1"] .eb-star--3 .left-half,
.eb-stars.rounding-up[data-eb-rating^="2.2"] .eb-star--3 .left-half,
.eb-stars.rounding-up[data-eb-rating^="2.3"] .eb-star--3 .left-half,
.eb-stars.rounding-up[data-eb-rating^="2.4"] .eb-star--3 .left-half,
.eb-stars.rounding-up[data-eb-rating^="2.5"] .eb-star--3 .left-half,
.eb-stars.rounding-up[data-eb-rating^="2.6"] .eb-star--3 .full,
.eb-stars.rounding-up[data-eb-rating^="2.7"] .eb-star--3 .full,
.eb-stars.rounding-up[data-eb-rating^="2.8"] .eb-star--3 .full,
.eb-stars.rounding-up[data-eb-rating^="2.9"] .eb-star--3 .full,
.eb-stars.rounding-up[data-eb-rating^="3"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="3"] .eb-star--2 .full,
.eb-stars.rounding-up[data-eb-rating^="3"] .eb-star--3 .full,
.eb-stars.rounding-up[data-eb-rating^="3.0"] .eb-star--4 .left-half,
.eb-stars.rounding-up[data-eb-rating^="3.1"] .eb-star--4 .left-half,
.eb-stars.rounding-up[data-eb-rating^="3.2"] .eb-star--4 .left-half,
.eb-stars.rounding-up[data-eb-rating^="3.3"] .eb-star--4 .left-half,
.eb-stars.rounding-up[data-eb-rating^="3.4"] .eb-star--4 .left-half,
.eb-stars.rounding-up[data-eb-rating^="3.5"] .eb-star--4 .left-half,
.eb-stars.rounding-up[data-eb-rating^="3.6"] .eb-star--4 .full,
.eb-stars.rounding-up[data-eb-rating^="3.7"] .eb-star--4 .full,
.eb-stars.rounding-up[data-eb-rating^="3.8"] .eb-star--4 .full,
.eb-stars.rounding-up[data-eb-rating^="3.9"] .eb-star--4 .full,
.eb-stars.rounding-up[data-eb-rating^="4"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="4"] .eb-star--2 .full,
.eb-stars.rounding-up[data-eb-rating^="4"] .eb-star--3 .full,
.eb-stars.rounding-up[data-eb-rating^="4"] .eb-star--4 .full,
.eb-stars.rounding-up[data-eb-rating^="4.0"] .eb-star--5 .left-half,
.eb-stars.rounding-up[data-eb-rating^="4.1"] .eb-star--5 .left-half,
.eb-stars.rounding-up[data-eb-rating^="4.2"] .eb-star--5 .left-half,
.eb-stars.rounding-up[data-eb-rating^="4.3"] .eb-star--5 .left-half,
.eb-stars.rounding-up[data-eb-rating^="4.4"] .eb-star--5 .left-half,
.eb-stars.rounding-up[data-eb-rating^="4.5"] .eb-star--5 .left-half,
.eb-stars.rounding-up[data-eb-rating^="4.6"] .eb-star--5 .full,
.eb-stars.rounding-up[data-eb-rating^="4.7"] .eb-star--5 .full,
.eb-stars.rounding-up[data-eb-rating^="4.8"] .eb-star--5 .full,
.eb-stars.rounding-up[data-eb-rating^="4.9"] .eb-star--5 .full,
.eb-stars.rounding-up[data-eb-rating^="5"] .eb-star--1 .full,
.eb-stars.rounding-up[data-eb-rating^="5"] .eb-star--2 .full,
.eb-stars.rounding-up[data-eb-rating^="5"] .eb-star--3 .full,
.eb-stars.rounding-up[data-eb-rating^="5"] .eb-star--4 .full,
.eb-stars.rounding-up[data-eb-rating^="5"] .eb-star--5 .full,
.eb-stars[data-eb-rating^="0.5"] .eb-star--1 .left-half,
.eb-stars[data-eb-rating^="0.6"] .eb-star--1 .left-half,
.eb-stars[data-eb-rating^="0.7"] .eb-star--1 .left-half,
.eb-stars[data-eb-rating^="0.8"] .eb-star--1 .left-half,
.eb-stars[data-eb-rating^="0.9"] .eb-star--1 .left-half,
.eb-stars[data-eb-rating^="1"] .eb-star--1 .full,
.eb-stars[data-eb-rating^="1.5"] .eb-star--2 .left-half,
.eb-stars[data-eb-rating^="1.6"] .eb-star--2 .left-half,
.eb-stars[data-eb-rating^="1.7"] .eb-star--2 .left-half,
.eb-stars[data-eb-rating^="1.8"] .eb-star--2 .left-half,
.eb-stars[data-eb-rating^="1.9"] .eb-star--2 .left-half,
.eb-stars[data-eb-rating^="2"] .eb-star--1 .full,
.eb-stars[data-eb-rating^="2"] .eb-star--2 .full,
.eb-stars[data-eb-rating^="2.5"] .eb-star--3 .left-half,
.eb-stars[data-eb-rating^="2.6"] .eb-star--3 .left-half,
.eb-stars[data-eb-rating^="2.7"] .eb-star--3 .left-half,
.eb-stars[data-eb-rating^="2.8"] .eb-star--3 .left-half,
.eb-stars[data-eb-rating^="2.9"] .eb-star--3 .left-half,
.eb-stars[data-eb-rating^="3"] .eb-star--1 .full,
.eb-stars[data-eb-rating^="3"] .eb-star--2 .full,
.eb-stars[data-eb-rating^="3"] .eb-star--3 .full,
.eb-stars[data-eb-rating^="3.5"] .eb-star--4 .left-half,
.eb-stars[data-eb-rating^="3.6"] .eb-star--4 .left-half,
.eb-stars[data-eb-rating^="3.7"] .eb-star--4 .left-half,
.eb-stars[data-eb-rating^="3.8"] .eb-star--4 .left-half,
.eb-stars[data-eb-rating^="3.9"] .eb-star--4 .left-half,
.eb-stars[data-eb-rating^="4"] .eb-star--1 .full,
.eb-stars[data-eb-rating^="4"] .eb-star--2 .full,
.eb-stars[data-eb-rating^="4"] .eb-star--3 .full,
.eb-stars[data-eb-rating^="4"] .eb-star--4 .full,
.eb-stars[data-eb-rating^="4.5"] .eb-star--5 .left-half,
.eb-stars[data-eb-rating^="4.6"] .eb-star--5 .left-half,
.eb-stars[data-eb-rating^="4.7"] .eb-star--5 .left-half,
.eb-stars[data-eb-rating^="4.8"] .eb-star--5 .left-half,
.eb-stars[data-eb-rating^="4.9"] .eb-star--5 .left-half,
.eb-stars[data-eb-rating^="5"] .eb-star--1 .full,
.eb-stars[data-eb-rating^="5"] .eb-star--2 .full,
.eb-stars[data-eb-rating^="5"] .eb-star--3 .full,
.eb-stars[data-eb-rating^="5"] .eb-star--4 .full,
.eb-stars[data-eb-rating^="5"] .eb-star--5 .full {
    fill: #FF9800;
}

